div.svg-parent {
  display: flex;
}

div.svgs_parent__roompop {
  flex: 0 0 20%;
}

.rooms-borderbottom {
  margin: 15px .1px 10px .1px;
  width: 30%;
  border-bottom: 2px solid #ededf4;
}

.theh {
  margin-bottom: 0.25rem;
  text-decoration-line: underline;
}
