.disabled-link {
  pointer-events: none;
  color: grey;
}

a#resetClick {
  color: blue;
}

a#resetClick:hover {
  cursor: pointer;  
}

div.svg-parent {
  display: flex;
}

div.svgs_parent__roompop {
  flex: 0 0 20%;
}

.rooms-borderbottom {
  margin: 15px .1px 10px .1px;
  width: 30%;
  border-bottom: 2px solid #ededf4;
}

.theh {
  margin-bottom: 0.25rem;
  text-decoration-line: underline;
}

// 
// CSSTransition
// 

$short-time-span: 1s;
$longer-time-span: 3s;
$scale-medium: 1.2;
$zero: 0;
$one: 1;

%coretimer-transition {
  transition: opacity $short-time-span;
}

// CSSTransition
.coretimer-enter {
  opacity: 0.7;
  @extend %coretimer-transition;
}
.coretimer-enter-active {
  opacity: 0.85;
  @extend %coretimer-transition;
}
.coretimer-enter-done {
  opacity: 0.85;
}
.coretimer-exit {
  opacity: $one;
  @extend %coretimer-transition;
}

// .coretimer-enter {
//   opacity: 0;
//   transform: scale(0.9);
// }
// .coretimer-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: opacity 300ms, transform 300ms;
// }
// .coretimer-exit {
//   opacity: 1;
// }
// .coretimer-exit-active {
//   opacity: 0;
//   transform: scale(0.9);
//   transition: opacity 300ms, transform 300ms;
// }

// Timer Overlay

div.timer__overlay {
  div.overlay {
      box-shadow: inset 0px 0px 0 5000px rgba(0, 0, 0, 0.5);
      position: fixed;
      display: block;
      height: 50%;
      width: 50%;
      background-color: wheat;
      opacity: 50%;
      cursor: pointer;
    }
}

.sauce-button {
  color: rgb(255, 255, 255);
  font-family: ui-sans-serif, sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(102, 128, 153);
  box-sizing: border-box;
  line-height: 14px;
  mix-blend-mode: multiply;
  // opacity: 1;
  pointer-events: none;
  // position: fixed;
  transition: all 300ms ease 0s;
  z-index: 0;
  border-radius: 5px;
  margin: 0px;
  padding: 12px 0px;
  right: 10px;
  width: 84px;
  bottom: 10px;
  height: 38px;
};