@import './../Room/styles';

div.control__root {
  @media only screen and ( min-width: 768px ) {
    width: 75%;
  };
  @media only screen and ( min-width: 992px ) {
    width: 60%
  };

  div.intro-text-container {
    display: grid;
    // grid-template-columns: 3fr 2fr;
    grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr ) );
    grid-gap: 1rem;

    // background-color: rgb(235, 217, 238);

    // margin: 0 0 0.5em 0;
    padding: 0;

    h4 {
      // grid-column: span 3;
      // flex: 0 0 15%;

      margin: 0.5rem 0 0rem 0;
      // font-style: oblique;
      // color: #e0dce1;
      // font-size: 1.1em;
  
      i.bigger-icon {
        font-size: 1.5em;
      }
      i.icon-pad-left {
        padding-left: .1em;
      }
    }

    p.room__timer-oops {
      // grid-column: span 2;

      margin: 0.5em 0 0 0;  
      // padding-top: 0.001em;

      flex: 0.45;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      button {
        font-size: 0.75em;
        font-style: oblique;
        text-decoration-line: none;

        span.button-content {
          i.bigger-icon {
            font-size: 1.5em;
          }
          i.icon-pad-left {
            padding-left: .2em;
          }
        }
      }
    }
  }

  div.button-content {
    display: flex;

    div.button-content-left {
      flex: 0 0 20%;
    }

    div.button-content-right {
      flex: 0.65;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  };

  div.control__parent {
    margin: 0;
    padding: 0;

    form {
      background-color: rgb(234, 219, 235);
    };

    div.timers-container {
      // border: 1px red solid;
      margin-top: 0.5rem;

      display: grid;
      // grid-template-columns: repeat(18, 1fr);
      grid-template-columns: repeat( auto-fit, minmax( 175px, 1fr ) );
      grid-gap: 1rem;

      // background-color: rgb(235, 217, 238);

      align-items: center;

      /* this is the same as grid-template-columns: 1fr 1fr 1fr 1fr; */
      // grid-template-columns: repeat(4, 1fr);


      // padding: 15px;

      // > div {
      //   // border: 1px blue solid;
      //   // flex: 1 1 auto;
      //   flex: 1;
      //   text-align: center;
      //   margin: 15px;
      // }

      > div {
        // display: flex;
        // flex-flow: row nowrap;

        align-items: center;
        justify-content: center;
        text-align: center;

        padding: 15px;

        .casual-button {
          margin: 0;
        }
      };
    };

    // .width-10 {
    //   grid-column: span 10;
    // };
    // .width-9 {
    //   grid-column: span 9;
    // };
    // .width-8 {
    //   grid-column: span 8;
    // };
    // .width-7 {
    //   grid-column: span 7;
    // };
    // .width-5 {
    //   grid-column: span 5;
    // };
    // .width-3 {
    //   grid-column: span 3;
    // };
    // .width-2 {
    //   grid-column: span 2;
    // };

    // div.control__div {
    //   // flex: 0 0 20%;
    // } 

    // div.hours-button-parents {
    // }

    // div.submit {
    // }
  }
}

div.session-oops-parent {
  margin-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  p.session-oops {
    font-size: 0.75em;
    font-style: oblique;  
  }
}

div.room__not-available button {
  font-size: 1.4rem;
  font-style: oblique;
  text-decoration-line: none;

  span.button-content {
    i.bigger-icon {
      font-size: 1.5em;
    }
    i.icon-pad-left {
      padding-left: .2em;
    }
  }
}

// div.opposite-controls {
//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
//   grid-gap: 2rem;
//   text-align: center;
// }

// div.opposite-controls div {
//   padding: 1rem;
//   width: 100%;
//   margin: 0 auto;
// }

// @media (min-width: 600px) {
//   div.opposite-controls {
//     flex-direction: row-reverse;
//   }
// }

.repeatLength {
  font-style: oblique;
}

.vertical-middle::before {
    display: block;
    content: "";
    height: 50%;
}

.vertical-middle::after {
    vertical-align: top;
    font-weight: bold;
    line-height: 0;
    content: "Submit";
}

input.less-space {
  padding: 0px 1px;
}