
.entrace__main {
  max-width: 200px;
}

.entrance__intro-text {
  margin: 10px;
  font-style: oblique;
}

.entrance__bigger {
  font-size: 2em;
}

.entrance__big {
  font-size: 1.5em;
}

.entrance__button {
  display: block;
  margin: 0.75em 1em;
  padding: 0.75em 1em;
}
