.notification {
  float: right;
}

// Fancier button
.room-notification.label-outer-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 1em;

  .left-container {
    grid-column: span 4;
    // grid-template-columns: auto auto auto;
  }

  .right-container {
    grid-column: span 4;
  }

  .last-right-container {
    grid-column: span 5;
  }

  .label-container {
    // grid-template-columns: auto 1fr;
    grid-template-rows: auto 10rem;
    // display: flex;
    // grid-template-columns: auto auto auto;
  }

  // copy pasted
  .switching {
    position: relative;
    display: grid;
    width: 60px;
    height: 34px;

    margin-top: 5px;
    margin-bottom: 5px;

    grid-row: 2 / 2;

    // grid-column-start: 1;
    // grid-column-end: 2;
  }

  .label-container .texty {
    // padding: 10;
    // flex: 1;
    grid-row: 1 / 2;

    // grid-column-start: 3;
    // grid-column-start: 4;
  }

  .switching input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switching .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding-bottom: 10px;
  }

  .switching .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
// End Fancier button

// div.log-collapse {
//   position: relative;
// }

.smaller-button {
  cursor: pointer;

  background-color: #5153c1;
  // background-color: #f4eff5;
  color: #FFFFFF;
  color: #3fa0e7;
  text-align: center;
  font-size: 1em;
  padding: 5px 10px;

  margin: 3px 5px;
  
  border: none;
  
  -webkit-border-radius: 7.5;
  -moz-border-radius: 7.5;
  border-radius: 7.5px;
}

// div.notifications-list {
//   position: absolute;
// }

div.notification-toggle {
  input:checked {
    background-color: #2196F3;
  }

  input:focus {
    box-shadow: 0 0 1px #2196F3;
  }
};


div.notifications-list {
  width: 100%;  
  @media only screen and ( min-width: 768px ) {
    width: 70%;
  };
  @media only screen and ( min-width: 992px ) {
    width: 50%
  };

label.onoff {
  background-color: rgb(235, 217, 238);
}

// Grid for notification input
div.notifications-container {
  // display: -ms-grid;
  // -ms-grid-columns: repeat(12, 1fr);
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 1em;

  background-color: rgb(235, 217, 238);

  /* New styles */
  div {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: center;

    input {
      flex-grow: 1;
      max-width: 100%;
    };
  };
  
  .width-9 {
    grid-column: span 9;
  };
  .width-8 {
    grid-column: span 8;
  };
  .width-7 {
    grid-column: span 7;
  };
  .width-6 {
    grid-column: span 6;
  };
  .width-5 {
    grid-column: span 5;
  };
  .width-4 {
    grid-column: span 4;
  };
  .width-3 {
    grid-column: span 3;
  };
  .width-2 {
    grid-column: span 2;
  };
};

  // div.notifications-container {
  //   // border: 1px red solid;
  //   margin-top: 0.5rem;

  //   display: grid;
  //   // grid-template-columns: repeat(18, 1fr);
  //   grid-template-columns: repeat( auto-fit, minmax( 125px, 1fr ) );
  //   grid-gap: 1.5rem;

  //   background-color: rgb(235, 217, 238);
  //   // padding: 15px;

  //   // > div {
  //   //   // border: 1px blue solid;
  //   //   // flex: 1 1 auto;
  //   //   flex: 1;
  //   //   text-align: center;
  //   //   margin: 15px;
  //   // }

  //   div {
  //     // display: flex;
  //     flex-flow: row nowrap;

  //     // align-items: center;
  //     // justify-content: center;
  //   };
  // };

  div.title {
    font-weight: bold;
  };
};
