<div id="root">
    <div id="groot">
        <header class="header">
            <div class="content-container">
                <div class="header__content">
                    <div class="header__titles">
                        <h6>Zoomers' Collaborative Grouped Timers</h6>
                        <h2>test Group</h2></div>
                    <div class="header__button">
                        <a class="" href="/">
                            <button variant="success" id="top-home-button" class="casual-button header__button-home"><span class="header__button-text"><i class="fas fa-hand-point-left icon-pad-right"></i> Home</span></button>
                        </a>
                    </div>
                </div>
                <div class="header__secondary"></div>
            </div>
        </header>
        <div id="content">
            <div id="parent-socket-users">
                <h3>Users online, occupying test:</h3>
                <div id="socket-users"></div>
            </div>
            <div>
                <h3 class="group__pre-listing">All rooms in this group:</h3>
                <ul class="group__listing">
                    <li>lol<sup><i class="left-buffer color-serious fas fa-times"></i></sup></li>
                </ul>
                <div>
                    <p>
                        <button class="casual-button link-underline-fade">Add a room <i class="icon-pad-left far fa-door-closed"></i></button>
                    </p>
                </div>
            </div>
            <hr class="rooms-borderbottom">
            <div>
                <div>
                    <div class="content">
                        <h2 class="theh">lol</h2>
                        <div class="svg-parent ">
                            <div class="svgs_parent__roompop">
                                <svg class="circle__bag svg_bag__roompop" width="300" height="300">
                                    <circle cx="150" cy="150" r="120" stroke="#bec9ff" stroke-width="15" fill="#5153c1" class="circle__roompop"></circle>
                                </svg>
                                <svg class="circle__bag svg_text__roompop" width="300" height="300">
                                    <g transform="translate( 150, 109 )">
                                        <text class="text__roompop" dx="0" dy="20">
                                            <tspan x="0" dy="5">
                                                <tspan class="text__bolden">04:30</tspan> Remaining</tspan>
                                            <tspan x="0" dy="30">Ends at
                                                <tspan class="text__bolden">10:56 AM</tspan>
                                            </tspan>
                                            <tspan x="0" dy="30">Total Length:
                                                <tspan class="text__bolden">5 min</tspan>
                                            </tspan>
                                        </text>
                                    </g>
                                </svg>
                                <svg class="svg__roompop" width="300" height="300" style="stroke-dasharray: 754, 0;">
                                    <circle class="circle__roompop" cx="150" cy="150" r="120" stroke="rgba( 255,255,255,.9 )" stroke-width="15" fill="none">
                                        <animate attributeName="stroke-dasharray" from="75.50, 754" to="754, 1" dur="9999h"></animate>
                                    </circle>
                                </svg>
                                <svg width="300" height="300" class="svg__final"></svg>
                            </div>
                            <div class="pause-button-parent">
                                <button id="pause-timer" class="casual-button link-underline-fade cap-it-up">
                                    <div class="button-content">
                                        <div class="button-content-left">
                                            <p class="no-gap">pause</p>
                                            <p class="no-gap">timer</p>
                                        </div>
                                        <div class="button-content-right"><i class="bigger-icon icon-pad-left far fa-hourglass-start"></i></div>
                                    </div>
                                </button>
                                <button id="stop-timer" class="casual-button link-underline-fade">
                                    <div class="button-content">
                                        <div class="button-content-left">
                                            <p class="no-gap">Stop</p>
                                            <p class="no-gap">Timer</p>
                                        </div>
                                        <div class="button-content-right"><i class="bigger-icon icon-pad-left far fa-traffic-light-stop"></i></div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="control__root">
                            <p class="room__not-available">
                                <button class="as-text-addon as-link color-serious smaller-middle-upper-text link-underline-fade"><span class="button-content">Click here to start a new timer.<i class="icon-pad-left far fa-stopwatch"></i></span></button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__divider"></div>
            <p class="footer__content">The footer. <a class="lighter-links" href="https://atextbooksituation.com">Saadh Shehzad</a>. 2019-2020. Do what you want with this web app/site :). <a class="lighter-links" href="https://github.com/inoicouldalwaysturn2u/collaborative-multiple-grouped-timers">Github repo for front-end</a> and <a href="https://github.com/inoicouldalwaysturn2u/multiple-grouped-timers-websockets-backend">back-end</a>. <a class="lighter-links" href="/about">About &amp; How-To</a>. <a class="lighter-links" href="/privacy-policy">Privacy Policy</a>.</p>
        </footer>
    </div>
</div>